// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ideasapp{
  .bg-big-form{
    background-color: #5bc0de;
    padding: 10px;
    padding-bottom: 30px;
  }
  
  .step-number {
    
    border-radius: 99px;
    font-size: 30px;
    font-weight: bold;
    background-color: #f0ad4e;
    padding: 10px 17px;
  }
  textarea {
    resize: none;
  }
  .canvas-form{
    textarea, input {
      width: 100%;
      border: 0;
    }
  }
}