<script type="text/x-template"  id="ideasCanvasTemplate">
  <div class="container">
    <h1 class="text-center">Tell us about your idea...</h1>
    <br>
    <div class="row">
      <div class="col-lg-1">
        <span class="step-number">2</span>
      </div>
    </div>
    <br>
    <div class="row table-responsive">
      <table class="table table-bordered canvas-form ">
        <tbody>
          <tr>
            <td rowspan="2" colspan="2">
              <h4>Key partners</h4>
              <textarea rows="6" placeholder="Description..." v-model="canvas.key_partners.description"></textarea>
              <input type="text" placeholder="Tags..." />
            </td>
            <td colspan="2">
              <h4>Key activities</h4>
              <textarea placeholder="Description..." v-model="canvas.key_activities.description"></textarea>
              <input type="text" placeholder="Tags..."/>
            </td>
            <td rowspan="2" colspan="2">
              <h4>Value propositions</h4>
              <textarea rows="6" placeholder="Description..." v-model="canvas.value_propositions.description"></textarea>
              <input type="text" placeholder="Tags..."/>
            </td>
            <td colspan="2">
              <h4>Customer Relationships</h4>
              <textarea placeholder="Description..." v-model="canvas.customer_relationships.description"></textarea>
              <input type="text" placeholder="Tags..."/>
            </td>
            <td rowspan="2" colspan="2">
              <h4>Customer Segments</h4>
              <textarea rows="6" placeholder="Description..." v-model="canvas.customer_segments.description"></textarea>
              <input type="text" placeholder="Tags..."/>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h4>Key resources</h4>
              <textarea placeholder="Description..." v-model="canvas.key_resources.description"></textarea>
              <input type="text" placeholder="Tags..."/>
            </td>
            <td colspan="2">
              <h4>Channels</h4>
              <textarea placeholder="Description..." v-model="canvas.channels.description"></textarea>
              <input type="text" placeholder="Tags..."/>
            </td>
          </tr>
          <tr>
            <td colspan="5" rowspan="2">
              <h4>Cost structures</h4>
              <textarea placeholder="Description..." v-model="canvas.cost_structures.description"></textarea>
              <input type="text" placeholder="Tags..."/>
            </td> 
            <td colspan="5" rowspan="2">
              <h4>Revenue streams</h4>
              <textarea placeholder="Description..." v-model="canvas.revenue_streams.description"></textarea>
              <input type="text" placeholder="Tags..."/>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-9">
        <a href="#" class="btn btn-block btn-success btn-lg" @click.prevent="saveCanvas"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Idea</a>
      </div>
    </div>
  </div>
</script>